<settings>
  ...
  <servers>
    <server>
      <id>narendra</id>
      <username>deploy-user</username>
      <password>deploy</password>
    </server>
  </servers>
  <repository>
    <repository>
      <id>narendra</id>
      <url>https://nexus3-tekton-ci.apps.ocp4.imss.com/</url>
    </repository>
  </repository>
  ...
</settings>
