<settings>
  ...
  <servers>
    <server>
      <id>maven</id>
      <username>deploy-user</username>
      <password>deploy</password>
    </server>
  </servers>
  <repository>
    <repository>
      <id>maven</id>
      <url>http://nexus-cicd-java.apps.cluster-b8hwh.b8hwh.sandbox478.opentlc.com/</url>
    </repository>
  </repository>
  ...
</settings>
